/* ############################# . ############################# */
/* ####################### Imports fonts ####################### */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krona+One&display=swap');

/* ############################ All ############################ */

:root {
    /* Widths */
    --max-width-all: 1200px;

    /* Colors */

    --color-black : #202020;
    --color-white : #F2F2F2;

    --color-green-primary : #11A722;
    --color-green-primary-hover : #0B8419;

    --color-green-secondary : #0A6100;
    --color-green-secondary-hover : #0C7800;

}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    outline-offset: 0px;
    scroll-behavior: smooth;
    border: none;

    /* Debug */
    /*outline: 2px dashed #FF0000;*/
}

/* ########################### Sections ########################### */

html {
    background-color: var(--color-black);
    font-family: Krona One, sans-serif;
}

body {
    margin: 0;
}

main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

/* ########################### Textes ########################### */

h1 {
    font-weight: 900;
    font-size: 2.5em;
    color: var(--color-white);
}

h4 {
    color: var(--color-white);
    font-weight: 100;
}

/* ########################### Index ########################### */

nav{
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
}
main{
    position: absolute;
    z-index: 90;
    min-height: 100vh;
}

.global-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.global-navbar-logo:hover{
    cursor: pointer;
}

.global-navbar-logo img{
    width: 5em;
    height: 5em;
}

.global-navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    align-items: center;
}

.global-navbar-links a{
    font-weight: 200;
}

.global-navbar-links a:hover{
    cursor: pointer;
    text-shadow: 0px 0px 5px var(--color-white);
}

.global-navbar-links-connexion{
    background-color: var(--color-green-primary);
    padding: 7px 25px;
    border-radius: 50px;
}

.pres-index-container {
    margin-top: 15%;
    position: absolute;
    z-index: 100;
    width: var(--max-width-all);
    max-width: var(--max-width-all);
}

.pres-index-links{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.pres-index-title {
    margin: 0px;
}

.pres-index-discover-link,
.pres-index-about-link,
.global-navbar-links a{
    color: var(--color-white);
    font-size: 0.85em;
}

.pres-index-discover-link-container {
    background-color: var(--color-green-primary);
    padding: 10px 30px;
    border-radius: 50px;
}

.pres-index-discover-link-container:hover,
.global-navbar-links-connexion:hover{
    cursor: pointer;
    background-color: var(--color-green-primary-hover);
    transition: all 0.15s;
    text-shadow: 0px 0px 5px var(--color-white);
}

.pres-index-about-link-container{
    padding: 8px 28px;
    border-radius: 50px;
    border: solid 2px var(--color-white);
}
.pres-index-about-link-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px var(--color-white);
    transition: all 0.1s;
}

.background{
    width: 100%;
    height: 100vh;
    top: 0;
    filter: blur(100px);
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.circle1,
.circle2{
    width: 40em;
    height: 40em;
    border-radius: 50%;
    position: fixed;
    opacity: 80%;
}

.circle1{
    background-color: var(--color-green-primary);
    transform: translateX(calc(100vw - 70%)) translateY(-50%);
}

.circle2{
    background-color: var(--color-green-secondary);
    transform: translateX(-15%) translateY(90%);
}

.footer-main{
    opacity: 0;
    bottom: 0;
    background-color: var(--color-black);
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.5em;
    padding-top: 3em;
}

.footer-main p{
    color: var(--color-white);
    font-size: 0.7em;
    font-weight: 200;
}

.footer-main span{
    background-color: var(--color-white);
    width: 90%;
    height: 1px;
    opacity: 0.5;
}

/* ########################### Modules page ########################### */

.main-items-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 95;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.main-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: var(--max-width-all);
    z-index: 95;
    gap: 3em;
}

.main-items-item{
    width: 30%;
    height: 15em;
    background-color: #ffffff1a;
    border-radius: 1em;
    border: 2px solid #ffffff0f;
}