:root {
    /* Widths */
    --max-width-all: 1200px;

    /* Margin */
    --margin-all: 20px;

    /* Colors */

    --color-black : #202020;
    --color-white : #F2F2F2;

    --color-green-primary : #11A722;
    --color-green-primary-hover : #0B8419;

    --color-green-secondary : #0A6100;
    --color-green-secondary-hover : #0C7800;

}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    outline-offset: 0px;
    scroll-behavior: smooth;
    border: none;

    /* Debug */
    /*outline: 2px dashed #FF0000;*/
}

/* ########################### Connexion page ########################### */

.main-form-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.main-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width:30em;
    min-width: 30em;
    height: 80vh;
    background-color: #ffffff1a;
    border-radius: 1em;
    border: 2px solid #ffffff0f;
    color: var(--color-white);
    font-size: 0.8em;
}

.form-inputs{

    display: flex;
    flex-direction: column;
    gap: 3em;
    /* align-items: center; */
    justify-content: center;
}

.form-email,
.form-password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.form-email input[type="text"],
.form-password input[type="password"]{
    height: 2.5em;
    border-radius: 0.5em;
    padding-left: 1em;
    /* background: linear-gradient(90deg, rgba(10, 91, 0, 0.2) 0%, rgba(17, 167, 34, 0.2) 100%); */
    background: var(--color-black);
    border: solid 1px var(--color-white);
    opacity: 0.8;
}

.form-email ::placeholder,
.form-password ::placeholder{
    color: var(--color-white);
    opacity: 0.8;
}

.main-form-container form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form-container .form-email,
.main-form-container .form-password,
.main-form-container .form-submit{
    text-align: center;
    width: auto;
}

.main-form-container .form-submit input[type="submit"]{
    height: 2.5em;
    border-radius: 0.5em;
    padding: 0 20%;
    background: var(--color-green-primary);
    border: solid 1px rgba(242, 242, 242, 0.8);
    color: rgba(242, 242, 242, 0.8);
}

.form-container-title{
    text-align: center;
}
