:root {
    /* Widths */
    --max-width-all: 1200px;

    /* Sizes */
    --font-size-xs: 0.6em;
    --font-size-s: 0.75em;
    --font-size-m: ;
    --font-size-l: ;
    --font-size-xl: ;

    /* Margin */
    --margin-all: 20px;

    /* Colors */
    --color-black: #202020;
    --color-white: #F2F2F2;

    --color-grey-light: #c7c7c7;
    --color-grey-medium: #616161;
    --color-grey-dark: ;

    --color-green-primary: #11A722;
    --color-green-primary-hover: #0B8419;

    --color-green-secondary: #0A6100;
    --color-green-secondary-hover: #0C7800;

}

ul li{
    color: var(--color-grey-light);
}

/* ########################### Module page ########################### */





/* ########################### Module nombres premiers page ########################### */

.np-container{
    color: var(--color-white);
}

.np-container .main-explication-titre,
.np-container .main-simulation-titre{
    padding: 3em;
    text-align: center;
}

.np-explication-main p,
.warning-popup p{
    text-align: justify;
    line-height: 1.6em;
}

.np-main-simulation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    gap: 1em;
}

.form-number{
    padding-left: 3em;
}

.form-number input[type="number"]{
    width: 80%;
    height: 2.5em;
    border-radius: 1.5em;
    padding-left: 1em;
    /* background: linear-gradient(90deg, rgba(10, 91, 0, 0.2) 0%, rgba(17, 167, 34, 0.2) 100%); */
    background: var(--color-black);
    border: solid 1px var(--color-white);
    color: var(--color-white);
}

.simulation-form-container .form-number{
    text-align: center;
    width: auto;
}

.np-main-explication{
}

.warning-popup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.warning-popup span{
    cursor: pointer;
}

.popup-content{
    display: none;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    list-style: unset;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
.popup-content-item{
    position: fixed;
    z-index: 100;
    left: 15%;
    top: 10%;
    bottom: 10%;
    width: 70%;
    height: unset;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-black);
    border-radius: 7px;
    border: solid 1px #000000ab;
    /*max-width: 40rem;*/
  }

  .popup-content-item h1{
    text-align: center;
    font-size: 1.5rem;
  }
  
  .content-item-p{
    display: none;
    padding: 1rem;
    font-weight: 400;
  }
  
  .button-contact{
    text-align: center;
    padding: 1rem;
  }
  
  .button-contact a{
    color: white !important;
    background-color: #170870;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .content-item-p h2{
    padding-bottom: 1rem;
    font-size: 1.4rem;
  }
  
  .content-item-p a{
    color: blue;
  }

  .content-item-p p{
    font-size: 0.9em;
    color: var(--color-grey-light);
    line-height: 1.6;
  }
  
  .content-item-p li{
    font-weight: 200;
    color: var(--color-grey-light);
  }
  
  .popup-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .popup-content span{
    font-size: 2.5rem;
    cursor: pointer;
    color: #5c615ae6;
  }
  
  .popup-content span:hover{
    color: #00000061;
    transition: 0.5s;
  }
  
  .popup-content hr{
    border-top: solid 1px #5c615ae6;
    width: 100%;
  }

  .popup-content .archi-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
  }

  .popup-content .archi-img img{
    width: 45em;
  }

  .popup-content .archi-img p{
    font-style: italic;
    font-size: 0.9em;
  }

/* ########################### A propos page ########################### */

.explication-sae-container{
    color: var(--color-white);
}

.explication-sae-intro,
.explication-sea-archi,
.explication-sea-team{
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.explication-sae-intro{
    width: 70%;
}

.explication-sae-container p{
    font-size: 1em;
    text-align: justify;
    line-height: 1.6em;
}

.explication-sae-container ul{
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.explication-sea-archi{
    text-align: end;
}

.explication-sea-archi .archi-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.explication-sea-archi .archi-img img{
    width: 45em;
}

.explication-sea-archi .archi-img p{
    font-style: italic;
    font-size: 0.9em;
}

.sae-team-items{
    padding-top: 5em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
}

.sae-team-item#un{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-items: center;
}

.sae-team-item#two{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-items: center;
    padding-top: 30em;
}

.sae-team-item#tree{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.sae-team-item#four{
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

.sae-team-item#five{
    grid-column: 1 / 2;
    grid-row: 7 / 9;
}

.sae-team-item#tree,
.sae-team-item#four,
.sae-team-item#five{
    align-items: center;
    margin-top: -7em;
}


.sae-team-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.team-item-main{
    padding: 0 2em;
}

.sae-team-item p{
    font-size: 0.9em;
}

.team-item-img{
    width: 15em;
    height: 20em;
    background-color: var(--color-grey-medium);
    border-radius: 0.5em;
}